<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
            crossorigin="anonymous"></script>
</head>
<body>
<div class="container">
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">First name</th>
            <th scope="col">Street</th>
            <th scope="col">&nbsp;</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="emp: ${employees}">
            <th scope="row" th:text="${emp.getId()}"></th>
            <td th:text="${emp.getFirstName()}"></td>
            <td th:text="${emp.getAddress().getStreet()}"></td>
            <td>
                <a th:if="${confirmDelete == 0}" class="btn btn-danger" th:href="${'/confirm/'+emp.getId()}" role="button">Delete</a>
                <div th:if="${confirmDelete == emp.getId()}">
                    <span>Do you really want to delete this record?</span>
                    <a class="btn btn-primary" href="/">Cancel</a>
                    <a class="btn btn-danger" th:href="${'/delete/'+emp.getId()}">Delete</a>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>